In [143]:
# 필요한 라이브러리 설치 및 임포트
!pip install pandas

import pandas as pd
import datetime

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

---

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-0] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [238]:
# 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

In [239]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [240]:
air_21['측정일시']

0       2021100101
1       2021100102
2       2021100103
3       2021100104
4       2021100105
           ...
8755    2021093020
8756    2021093021
8757    2021093022
8758    2021093023
8759    2021093024
Name: 측정일시, Length: 8760, dtype: int64

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경
* 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-5]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 날씨 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예:측정일시 값 -1)하세요.

In [241]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# air_21['time'] = pd.to_datetime(air_21['측정일시'], format='%Y-%m-%d %H:%M', errors='raise')
# air_22['time'] = pd.to_datetime(air_22['측정일시'], format='%Y-%m-%d %H:%M', errors='raise')
air_21['측정일시'] = (air_21['측정일시']-1)
air_22['측정일시'] = (air_22['측정일시']-1)
air_21['time'] = pd.to_datetime(air_21['측정일시'], format='%Y%m%d%H')
air_22['time'] = pd.to_datetime(air_22['측정일시'], format='%Y%m%d%H')

In [242]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,2021100100,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00
1,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00
2,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00
3,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00
4,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경

In [243]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5

In [244]:
# weather_21['time'] = pd.to_datetime(weather_21['일시'], format='%Y-%m-%d %H:%M', errors='raise')
# weather_22['time'] = pd.to_datetime(weather_22['일시'], format='%Y-%m-%d %H:%M', errors='raise')
weather_21['time'] = pd.to_datetime(weather_21['일시'])
weather_22['time'] = pd.to_datetime(weather_22['일시'])

In [245]:
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,...,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6,2021-01-01 01:00:00
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,...,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6,2021-01-01 02:00:00
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,...,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6,2021-01-01 03:00:00
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,...,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 04:00:00
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,...,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 05:00:00

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
* df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
* df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [246]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# pd.merge(left,right,on='id')
df_21 = pd.merge(air_21, weather_21, on='time')
df_22 = pd.merge(air_22, weather_22, on='time')

In [247]:
df_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,서울 종로구,도시대기,111123,종로구,2021100100,0.003,0.6,0.002,0.039,31.0,...,NaN,2000,NaN,NaN,17.8,NaN,22.3,22.3,22.7,22.9
1,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.035,27.0,...,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9
2,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.033,28.0,...,NaN,2000,NaN,NaN,17.2,NaN,21.8,21.8,22.4,22.8
3,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.030,26.0,...,NaN,2000,NaN,NaN,17.0,NaN,21.6,21.6,22.2,22.8
4,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.5,0.003,0.026,26.0,...,NaN,2000,NaN,NaN,16.5,NaN,21.3,21.4,22.0,22.7

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
* df_21, df_22에 사용할 변수들만 넣어보세요.

In [248]:
# df_21, df_22에 사용할 변수들만 할당
df_21.dropna(axis=1)
df_22.dropna(axis=1)

,지역,망,측정소코드,측정소명,측정일시,주소,time,지점,지점명,일시,...,현지기압(hPa),해면기압(hPa),전운량(10분위),중하층운량(10분위),시정(10m),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,서울 종로구,도시대기,111123,종로구,2022010100,서울 종로구 종로35가길 19,2022-01-01 00:00:00,108,서울,2022-01-01 00:00,...,1021.9,1033.2,0,0,2000,-7.0,-1.0,-1.0,-0.2,1.0
1,서울 종로구,도시대기,111123,종로구,2022010101,서울 종로구 종로35가길 19,2022-01-01 01:00:00,108,서울,2022-01-01 01:00,...,1022.2,1033.6,0,0,2000,-7.2,-1.1,-1.1,-0.2,1.0
2,서울 종로구,도시대기,111123,종로구,2022010102,서울 종로구 종로35가길 19,2022-01-01 02:00:00,108,서울,2022-01-01 02:00,...,1022.3,1033.7,0,0,2000,-7.5,-1.3,-1.2,-0.2,1.0
3,서울 종로구,도시대기,111123,종로구,2022010103,서울 종로구 종로35가길 19,2022-01-01 03:00:00,108,서울,2022-01-01 03:00,...,1022.6,1034.0,0,0,2000,-7.6,-1.4,-1.2,-0.2,1.0
4,서울 종로구,도시대기,111123,종로구,2022010104,서울 종로구 종로35가길 19,2022-01-01 04:00:00,108,서울,2022-01-01 04:00,...,1021.9,1033.3,0,0,2000,-7.6,-1.4,-1.3,-0.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,2022033119,서울 종로구 종로35가길 19,2022-03-31 19:00:00,108,서울,2022-03-31 19:00,...,1013.4,1023.8,6,1,2000,10.0,12.6,11.8,11.0,10.2
2156,서울 종로구,도시대기,111123,종로구,2022033120,서울 종로구 종로35가길 19,2022-03-31 20:00:00,108,서울,2022-03-31 20:00,...,1014.6,1025.0,6,0,2000,8.9,12.2,11.6,11.0,10.3
2157,서울 종로구,도시대기,111123,종로구,2022033121,서울 종로구 종로35가길 19,2022-03-31 21:00:00,108,서울,2022-03-31 21:00,...,1015.4,1025.9,1,1,2000,7.8,11.8,11.4,11.0,10.4
2158,서울 종로구,도시대기,111123,종로구,2022033122,서울 종로구 종로35가길 19,2022-03-31 22:00:00,108,서울,2022-03-31 22:00,...,1016.4,1026.9,3,3,2000,7.3,11.4,11.1,10.9,10.5
2159,서울 종로구,도시대기,111123,종로구,2022033123,서울 종로구 종로35가길 19,2022-03-31 23:00:00,108,서울,2022-03-31 23:00,...,1016.9,1027.4,1,1,2000,6.7,11.0,10.8,10.8,10.5

In [249]:
# time 변수를 index로 세팅
df_21 = df_21.set_index("time")
df_22 = df_22.set_index("time")

In [250]:
df_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
time,,,,,,,,,,,,,,,,,,,,,
2021-10-01 00:00:00,서울 종로구,도시대기,111123,종로구,2021100100,0.003,0.6,0.002,0.039,31.0,...,NaN,2000,NaN,NaN,17.8,NaN,22.3,22.3,22.7,22.9
2021-10-01 01:00:00,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.035,27.0,...,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9
2021-10-01 02:00:00,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.033,28.0,...,NaN,2000,NaN,NaN,17.2,NaN,21.8,21.8,22.4,22.8
2021-10-01 03:00:00,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.030,26.0,...,NaN,2000,NaN,NaN,17.0,NaN,21.6,21.6,22.2,22.8
2021-10-01 04:00:00,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.5,0.003,0.026,26.0,...,NaN,2000,NaN,NaN,16.5,NaN,21.3,21.4,22.0,22.7

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [251]:
# df_21, df_22의 결측치 확인
df_21.isnull()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
time,,,,,,,,,,,,,,,,,,,,,
2021-10-01 00:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-10-01 01:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-10-01 02:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-10-01 03:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-10-01 04:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30 19:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-09-30 20:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-09-30 21:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-09-30 22:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False
2021-09-30 23:00:00,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,False,True,False,False,False,False

In [252]:
# df_21, df_22의 변수 중 '강수량(mm)'의 결측치를 처리
df_21['강수량(mm)']

time
2021-10-01 00:00:00   NaN
2021-10-01 01:00:00   NaN
2021-10-01 02:00:00   NaN
2021-10-01 03:00:00   NaN
2021-10-01 04:00:00   NaN
                       ..
2021-09-30 19:00:00   NaN
2021-09-30 20:00:00   NaN
2021-09-30 21:00:00   NaN
2021-09-30 22:00:00   NaN
2021-09-30 23:00:00   NaN
Name: 강수량(mm), Length: 8759, dtype: float64

In [253]:
# df_21, df_22의 남은 결측치를 처리
df_21.describe()

,측정소코드,측정일시,SO2,CO,O3,NO2,PM10,PM25,지점,기온(°C),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
count,8759.0,8.759000e+03,8647.000000,8679.000000,8662.000000,8679.000000,8654.000000,8662.000000,8759.0,8759.000000,...,4547.000000,8759.000000,0.0,2.125000e+03,8754.000000,24.00000,8754.000000,8754.000000,8754.000000,8754.000000
mean,111123.0,2.021067e+09,0.003385,0.505646,0.029247,0.023346,38.927086,20.466751,108.0,13.739194,...,15.161425,1719.765384,NaN,1.367177e+04,14.734304,1.87500,15.128581,14.555118,14.533276,14.827633
std,0.0,3.449880e+04,0.000826,0.209529,0.019709,0.014456,47.473049,16.565726,0.0,10.894786,...,13.537921,521.130959,NaN,4.170156e+05,12.042066,3.73366,10.175582,10.044423,9.739277,9.360493
min,111123.0,2.021010e+09,0.001000,0.200000,0.000000,0.003000,3.000000,1.000000,108.0,-18.500000,...,1.000000,33.000000,NaN,1.000000e+00,-12.700000,0.00000,-4.700000,-4.600000,-3.000000,-0.800000
25%,111123.0,2.021040e+09,0.003000,0.400000,0.015000,0.012000,18.000000,10.000000,108.0,6.000000,...,7.000000,1719.000000,NaN,5.000000e+00,4.300000,0.00000,5.900000,5.500000,5.600000,6.300000
50%,111123.0,2.021070e+09,0.003000,0.400000,0.028000,0.019000,30.000000,16.000000,108.0,14.600000,...,10.000000,2000.000000,NaN,1.900000e+01,15.400000,0.00000,15.400000,14.700000,14.600000,15.100000
75%,111123.0,2.021100e+09,0.004000,0.600000,0.040000,0.031000,46.000000,25.000000,108.0,22.600000,...,16.000000,2000.000000,NaN,1.901000e+03,23.600000,0.00000,24.100000,23.500000,23.400000,23.600000
max,111123.0,2.021123e+09,0.011000,2.000000,0.137000,0.082000,942.000000,154.000000,108.0,36.300000,...,76.000000,2000.000000,NaN,1.916020e+07,56.800000,9.00000,35.700000,33.700000,31.900000,30.600000

In [259]:
# df_21, df_22의 결측치 재확인
# df_21.isnull()
df_21.isnull().sum()

지역                  0
망                   0
측정소코드               0
측정소명                0
측정일시                0
SO2               112
CO                 80
O3                 97
NO2                80
PM10              105
PM25               97
주소                  0
지점                  0
지점명                 0
일시                  0
기온(°C)              0
기온 QC플래그         8759
강수량(mm)          7810
강수량 QC플래그        6996
풍속(m/s)             2
풍속 QC플래그         8757
풍향(16방위)            2
풍향 QC플래그         8757
습도(%)               0
습도 QC플래그         8759
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
현지기압 QC플래그       8759
해면기압(hPa)           0
해면기압 QC플래그       8759
일조(hr)           3968
일조 QC플래그         4791
일사(MJ/m2)        3968
일사 QC플래그         4791
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
운형(운형약어)         3812
최저운고(100m )      4212
시정(10m)             0
지면상태(지면상태코드)     8759
현상번호(국내식)        6634
지면온도(°C)            5
지면온도 QC플래그       8735
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

In [255]:
# df_21.dropna(axis=1, inplace=True)
# df_22.dropna(axis=1, inplace=True)

In [256]:
air_21=(['S01','CO','O3','NO2','PM10','PM25','time','풍속(m/s)','지면온도','측정일시'])

In [257]:
air_21

['S01', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'time', '풍속(m/s)', '지면온도', '측정일시']

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 변수 추가</span>**

* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가합니다. 
* 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [258]:
df_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
time,,,,,,,,,,,,,,,,,,,,,
2021-10-01 00:00:00,서울 종로구,도시대기,111123,종로구,2021100100,0.003,0.6,0.002,0.039,31.0,...,NaN,2000,NaN,NaN,17.8,NaN,22.3,22.3,22.7,22.9
2021-10-01 01:00:00,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.035,27.0,...,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9
2021-10-01 02:00:00,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.033,28.0,...,NaN,2000,NaN,NaN,17.2,NaN,21.8,21.8,22.4,22.8
2021-10-01 03:00:00,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.030,26.0,...,NaN,2000,NaN,NaN,17.0,NaN,21.6,21.6,22.2,22.8
2021-10-01 04:00:00,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.5,0.003,0.026,26.0,...,NaN,2000,NaN,NaN,16.5,NaN,21.3,21.4,22.0,22.7

In [208]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음)
# df_21['year'] = df_21['time'].dt.year
# df_21['month'] = df_21['time'].dt.month
# df_21['day'] = df_21['time'].dt.day
# df_21['hour'] = df_21['time'].dt.hour

In [204]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [ ]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가

In [ ]:
# 결측치가 있다면 처리

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [124]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df_21, df_22, test_size=0.2, random_state=2023)

ValueError: Found input variables with inconsistent numbers of samples: [8759, 2160]

In [125]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
train_x.to_csv("train_x.csv", index = False)
test_x.to_csv("test_x.csv", index = False)
train_y.to_csv("train_y.csv", index = False)
test_x.to_csv("test_x.csv", index = False)

NameError: name 'train_x' is not defined