### 크롤링 정책
robots.txt : 웹페이지 크롤링 정책 설명한 페이지
크롤링법 X: 과도한 크롤링으로 서비스에 영향을 주었을경우 업무방해 혐의로 고소당할 수 있음.
법정문제 : 지적재산권, 서비스 과부화, 데이터 사용 표준

#### https://naver.com/robots.txt -> 네이버 크롤링 정책 다운로드 링크
User-agent: *
Disallow: /
Allow : /$ 


#### https://ted.com/robots.txt -> 테드 크롤링 정책 다운로드 링크
User-agent: *
Disallow: /latest
Disallow: /latest-talk
Disallow: /latest-playlist
Disallow: /people
Disallow: /profiles
Disallow: /conversations
Disallow: /themes/rss
Disallow: /discussions
Disallow: /tpv4

User-agent: Baiduspider
Disallow: /search
Disallow: /latest
Disallow: /latest-talk
Disallow: /latest-playlist
Disallow: /people
Disallow: /profiles
Disallow: /discussions
Disallow: /tpv4

### Naver Rest API
- 파파고 번역 api
- 통합검색어 트렌드 api

In [107]:
import pandas as pd
import requests, json

#### 0. request token 얻기
- `https://developers.naver.com`
- 1. Request Token 얻기 : 애플리케이션등록 -> app_key 획득
- 2. app_key를 이용해서 데이터 가져오기

In [23]:
CLIENT_ID, CLIENT_SECRET = '3VN2MaO4sxCcWqns0qUF', 'r7TLUyOshm'

#### 1. 파파고 번역 api
- `https://developers.naver.com/docs/papago/`
- 사용법
    - `https://developers.naver.com/docs/papago/papago-nmt-api-reference.md`

In [24]:
#1. API 문서: URL

In [25]:
ko_txt = '웹크롤링은 재미있습니다.'
url = 'https://openapi.naver.com/v1/papago/n2mt'
headers={
    'Content-Type': 'application/json',
    'X-Naver-Client-Id': CLIENT_ID,
    'X-Naver-Client-Secret': CLIENT_SECRET,
}
params = {'source': 'ko', 'target': 'en', 'text':ko_txt}

In [30]:
#2. request(URL,key,ko_txt) > response : json(str)

In [31]:
json.dumps(params)

'{"source": "ko", "target": "en", "text": "\\uc6f9\\ud06c\\ub864\\ub9c1\\uc740 \\uc7ac\\ubbf8\\uc788\\uc2b5\\ub2c8\\ub2e4."}'

In [27]:
response = requests.post(url, json.dumps(params), headers=headers)
response

In [28]:
response.text

'{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"Web crawling is fun.","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null,"modelVer":"Unknown"},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}'

In [29]:
json.dumps(params)

'{"source": "ko", "target": "en", "text": "\\uc6f9\\ud06c\\ub864\\ub9c1\\uc740 \\uc7ac\\ubbf8\\uc788\\uc2b5\\ub2c8\\ub2e4."}'

In [10]:
#3. json(str) : en_txt

In [37]:
response.json()['message']['result']['translatedText']

'Web crawling is fun.'

In [38]:
def translate(txt, source='ko', target='en'):
    CLIENT_ID, CLIENT_SECRET = '3VN2MaO4sxCcWqns0qUF', 'r7TLUyOshm'
    url = 'https://openapi.naver.com/v1/papago/n2mt'
    headers={
    'Content-Type': 'application/json',
    'X-Naver-Client-Id': CLIENT_ID,
    'X-Naver-Client-Secret': CLIENT_SECRET,
    }
    params = {'source': 'ko', 'target': 'en', 'text':ko_txt}
    response = requests.post(url, json.dumps(params), headers=headers)
    return response.json()['message']['result']['translatedText']

In [40]:
translate('데이터 사이언스는 재밌습니다.')

'Web crawling is fun.'

In [41]:
df = pd.DataFrame({
    'id' : list('AB'),
    'title' : ['인공지능 스쿨 화이팅', '데이터 크롤링'],
})
df

  id        title
0  A  인공지능 스쿨 화이팅
1  B      데이터 크롤링

In [42]:
df['title'].apply(translate)

0    Web crawling is fun.
1    Web crawling is fun.
Name: title, dtype: object

In [44]:
df['en_title'] = df['title'].apply(translate)
df

  id        title              en_title
0  A  인공지능 스쿨 화이팅  Web crawling is fun.
1  B      데이터 크롤링  Web crawling is fun.

In [46]:
df.to_excel('en_title.xlsx', index=False, encoding='utf-8-sig')

In [48]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 54BB-5177

 C:\Users\User\웹크롤링\day1 디렉터리

2023-02-16  오후 04:18    <DIR>          .
2023-02-16  오후 04:18    <DIR>          ..
2023-02-16  오후 03:14    <DIR>          .ipynb_checkpoints
2023-02-16  오후 02:51           180,972 01_requests_naver_stock.ipynb
2023-02-16  오후 03:11            46,878 02_requests_daum_exchange.ipynb
2023-02-16  오후 04:18            10,342 03_naver_api.ipynb
2023-02-13  오후 05:31             2,554 04_requests_zigbang.ipynb
2023-02-16  오후 04:18             5,546 en_title.xlsx
               5개 파일             246,292 바이트
               3개 디렉터리  147,566,010,368 바이트 남음

#### 2. 통합검색어 트렌드 api
- 서비스 : `https://datalab.naver.com/keyword/trendSearch.naver`
- 내 애플리케이션 > dss 애플리케이션 > API 설정 > 데이터랩(검색어 트렌드) 추가
- 사용법 : `https://developers.naver.com/docs/serviceapi/datalab/search/search.md#통합-검색어-트렌드`

In [102]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [103]:
%whos

Interactive namespace is empty.

In [104]:
CLIENT_ID, CLIENT_SECRET = '3VN2MaO4sxCcWqns0qUF', 'r7TLUyOshm'

In [105]:
%whos

Variable        Type    Data/Info
---------------------------------
CLIENT_ID       str     3VN2MaO4sxCcWqns0qUF
CLIENT_SECRET   str     r7TLUyOshm

In [106]:
# 1. API 문서 : URL

In [108]:
url = 'https://openapi.naver.com/v1/datalab/search'
params = {
    'startDate': '2018-01-01',
    'endDate': '2023-02-16',
    'timeUnit': 'month',
    'keywordGroup':[
        {'groupName':'트위터','keywords': ['트위터', '트윗']},
        {'groupName': '페이스북', 'keywords': ['페이스북', '페북']},
        {'groupName': '페이스북', 'keywords': ['인스타그램', '인스타']},
    ]
}

In [109]:
 headers={
    'Content-Type': 'application/json',
    'X-Naver-Client-Id': CLIENT_ID,
    'X-Naver-Client-Secret': CLIENT_SECRET,
    }

In [110]:
# 2. request(URL) > response : json(str)

In [116]:
response = requests.post(url, json.dumps(params), headers=headers)
response

In [117]:
# 3. json(str) > list, dict > DataFrame

In [118]:
results = response.json()['results']
type(results)

KeyError: 'results'

In [119]:
# columns : period, ratio, title
dfs = []
for result in results:
    df = pd.DataFrame(result['data'])
    dfs.append(df)

NameError: name 'results' is not defined

In [120]:
len(dfs)

0

In [121]:
# column : title(twitter, facebook, instagram)
# index : period
# value : ratio

In [123]:
pivot_df = result_df.pivot('period', 'title', 'ratio')
pivot_df.tail(2)

NameError: name 'result_df' is not defined

In [124]:
# update: 데이터선택 = 수정할데이터

In [125]:
pivot_df.columns = ['instagram', 'twitter', 'facebook']

NameError: name 'pivot_df' is not defined

In [ ]:
pivot_df.tail(2)

In [129]:
import matplotlib.pyplot as plt

In [ ]:
%config InlineBackend.figure_formats = {'png', 'retina'}

In [128]:
pivot_df.plot((figsize=(20,5)))
plt.show()

NameError: name 'pivot_df' is not defined